<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Yeni Kullanıcı Ekle</h1>

    <form action="/submit" method="post">
      <input type="text" name="name" value="JohnDoe" />
      <input type="number" name="age" value="30" />
      <input type="email" name="email" value="johndoe@example.com" />
      <input type="submit" value="Yeni Kullanıcı Ekle" />
    </form>
  </body>
</html>
